cwatm/__pycache__/*
cwatm/*/__pycache__/*
cwatm/*/*/__pycache__/*
cwatm/*/*/*/__pycache__/*
ccwatm.e
ccwatm.o
debug.*
nout.*
*.out_1*
*.nc
fort*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
*/*/*/*/.ipynb_checkpoints/*

